
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue dans ce blog</h1>



    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque consequuntur deserunt eligendi enim eveniet
        facere, in incidunt iure laudantium magnam neque nisi nobis non nostrum officiis, praesentium quas quos repellat
        saepe sint soluta, tempora ut velit veniam voluptate voluptatum.</p><p>A, beatae cumque deleniti dolore ducimus eius
    ex exercitationem explicabo fuga impedit ipsum iste iure odio perspiciatis praesentium quae, quaerat quod ratione
    sapiente tempora totam ullam, ut vel veniam voluptatem. Dolore ea laborum molestiae quisquam temporibus vel!
    Aliquam, necessitatibus nihil!</p>


    <p>Ici je continue avec du texte encore et je regarde le résultat </p>



{% endblock %}