{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <section class="articles">

        {% for article in articles %}

            <article>
                <h2>{{ article.title }}</h2>
                {#metadata = données servant à définir ou décrire une autre donnée quel que soit son support (papier ou électronique) #}
                <div class="metadata">Ecrit {{ article.createdAt | date('m/d/Y') }} à {{ article.createdAt | date ('H:i') }} dans la catégorie politique</div>
                <div class="content"><img src="{{ article.image }}" alt="">

                    {{ article.content | raw}}


                    <a href="{{ path('blog_show', {'id' : article.id}) }}" class="btn btn-primary">Lire la suite</a></div>
            </article>

        {% endfor %}


    </section>


{% endblock %}

